@charset "UTF-8";
*, *::before, *::after {
    box-sizing:border-box;
}

:root {
    --b1u:#007cff;
    --r3d:#dc3545;
    --yel:#f6c33c;
    --grn:#1cc88a;
    --org:#fe6d13;
    --cyn:#17a2b8;
    --te2:#20c9a6;
    --gry:#6c757d;
    --dkg:#343a40;
    --ww0:#fff;
    --wiv:#fffff0;
    --wl3:#f8f9fa;
    --ww8:#f8f8f8;
    --ww2:#f2f2f2;
	--gfa:#fafafa;
    --wcc:#ccc;
    --wlg:#9fabbd;
    --wam:#ddd;
    --b00:#000;
    --b05:#050505;
    --g18:#181818;
    --g19:#191919;
    --g21:#212121;
    --g23:#232323;
    --g26:#262626;
    --g2d:#2d2d2d;
    --g33:#333333;
    --g3b:#3b3b3b;
    --g4a:#4a4a4a;
    --gbg:#131a22;
    --gll:#6c757d;
    --g80:#808080;
    --bdg:#1e90ff;
    --bb0:#0598f1;
    --bbt:#288cfb;
    --primary:#007cff;
    --secondary:#6c757d;
    --success:#1cc88a;
    --info:#17a2b8;
    --warning:#f6c33c;
    --danger:#dc3545;
    --light:#f8f9fa;
    --dark:#343a40;
    --breakpoint-xs:0;
    --breakpoint-sm:576px;
    --breakpoint-md:768px;
    --breakpoint-lg:992px;
    --breakpoint-xl:1200px;
    --font-family-sans-serif:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace:SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.wlBd {
	position:relative;
}
.bodyDiv{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
}
.mapDiv {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	height:100%;
    width:100%;
    z-index:0;
}
#menuBtn {
    position:absolute;
    top:8px;
    left:8px;
    width:40px;
    height:40px;
    border-radius:50%;
    background-color:#fff;
	border:0 solid #fff;
    z-index:9;
}
#menuBtn:hover, #menuBtn:focus {
	cursor:pointer;
	color:#288cfb;
}
.fa-menu-bar {
    color:#232323;
    padding:12px;
    font-size:18px;
}
#menuPage {
	display:none;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	max-width:200px;
	background-color:#fff;
	z-index:99;
	animation:animateLeft 0.4s;
}
@keyframes animateLeft {
	from{left:-300px;opacity:0} 
	to{left:0;opacity:1}
}
.exPan {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
	-webkit-align-content:center;
	align-content:center;
	height:100%;
}
.uList {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
	-webkit-align-content:center;
	align-content:center;
	list-style:none;
	margin:0;
	padding:0 10px;
	outline:none;
	overflow-y:auto;
}
.mnLi {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex:1 0 auto;
	-ms-flex:1 0 auto;
	-moz-flex:1 0 auto;
	flex:1 0 auto;
	-webkit-align-items:center;
	align-items:center;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	-webkit-flex-direction:row;
	-moz-flex-direction:row;
	flex-direction:row;
	position:relative;
	outline:none;
	width:100%;
	padding:10px 0;
}
.spLi {
	display:block;
	background-color:transparent;
	font-family:inherit;
	font-size:18px;
	font-weight:inherit;
	line-height:17px;
	text-align:center;
	padding:3px;
	outline:none;
	overflow:hidden;
	user-select:none;
	white-space:nowrap;
	cursor:pointer;
}
.paup {
	margin:8px 0;
}
.mgSp {
	margin-bottom:8px;
}
.btim {
	display:block;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:#007cff;
	border:1px solid #007cff;
	color:#fff;
	border-radius:4px;
	min-height:30px;
	padding:3px;
	font-family:inherit;
	font-size:inherit;
	font-weight:normal;
	line-height:inherit;
}
.cleImg {
	background-color:#fafafa;
	width:30px;
	height:30px;
	border:1px solid #2d2d2d;
	border-radius:50%;
	padding:6px;
}
.icon {
	color:#2d2d2d;
}
.userName {
	color:#050505;
	transition:color, .2s ease-in-out;
}
.itemCl {
	color:#232323;
	transition:color, .2s ease-in-out;
}
.sett {
	font-size:20px;
}
.item {
	font-size:13px;
}
#paIcon {
	position:absolute;
	right:0;
	padding-right:0;
}
#paIcon:hover, #paIcon:focus {
	color:#288cfb;
}
.itemCl:hover, .itemCl:focus, .userName:hover, .userName:focus {
	color:#288cfb;
}
.overlay {
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(0,0,0,0.3);
	z-index:97;
}
.lctDiv {
	/* display:block; */
    width:350px;
    height:auto;
	margin: auto auto 0 auto;
	z-index:1;
	box-shadow:0 0 3px 0 rgba(248,248,248,0.2), 0 0 3px 0 rgba(248,248,248,0.19);
}
#smLocate {
    width:100%;
    height:100%;
	z-index:2;
}
.sazz {
	display:-webkit-box;
    display:-webkit-flex;
	display:flex;
	-webkit-flex:1 1 auto;
	-ms-flex:1 1 auto;
	-moz-flex:1 1 auto;
	flex:1 1 auto;
	background-color:#fff;
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
    border-radius:4px 4px 0 0;
	color:#000;
	padding:10px;
}
#lgLocate {
	display:none;
	width:100%;
    height:100%;
	z-index:5;
	animation:animateBottom 0.4s;
}
@keyframes animateBottom{
	from{bottom:-300px;opacity:0} 
	to{bottom:0;opacity:1}
}
.signDiv {
	display:none;
    width:350px;
    height:auto;
    margin:20px auto 0;
	z-index: 9;
	box-shadow:0 0 3px 0 rgba(248,248,248,0.2), 0 0 3px 0 rgba(248,248,248,0.19);

}
.chAcct {
	display:none;
    width:100%;
    height:100%;
}
.suMechanic {
    display:none;
    width:100%;
    height:100%;
}
.suUser {
    display:none;
    width:100%;
    height:100%;
}
.lgPage {
	display:none;
    width:100%;
    height:100%;
}
._rcS6 {
	display:-webkit-box;
    display:-webkit-flex;
	display:flex;
	-webkit-flex:1 1 auto;
	-ms-flex:1 1 auto;
	-moz-flex:1 1 auto;
	flex:1 1 auto;
    -webkit-justify-content:center;
	justify-content:center;
	background-color:#fff;
	border:none;
    border-radius:4px;
	color:#000;
	padding:10px;
}
._O9tz {
	display:-webkit-box;
    display:-webkit-flex;
	display:flex;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	-webkit-flex-direction:row;
	-moz-flex-direction:row;
	flex-direction:row;
	-webkit-justify-content:center;
	justify-content:center;
}
.bwArrow {
	display:inline-block;
	position:absolute;
	top:0;
	left:0;
}
.flal {
	font-size:24px;
	font-style: normal;
	color:#ccc;
}
.clipArrow {
	display:inline-block;
	position:absolute;
	top:0;
	right:0;
}
.flal:hover {
	color:#288cfb;
}
.xAS1 {
	margin:0 auto;
}
.xAS2 {
	margin:0 auto 5px;
}
.qghd {
	display:block;
	font-family:Sofia, sans-serif;
	font-size:2rem;
	font-weight:bold;
	line-height:1.5;
	white-space:nowrap;
	overflow:hidden;
	color:#288cfb;
	/* color: rgba(var(--bbt,40,140,251),1); */
	text-shadow:3px 3px 3px #050505;
	text-align:center;
	padding:6px;
}
._zE11 {
	display:block;
	overflow:hidden;
}
._fss8 {
	display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    position:relative;
    outline:none;
}
._Gho0 {
	display:-webkit-box;
    display:-webkit-flex;
    display:flex;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	-webkit-flex-direction:row;
	-moz-flex-direction:row;
	flex-direction:row;
	-webkit-justify-content:center;
	justify-content:center;
	margin:0;
	overflow:hidden;
}
.blsp {
	margin:8px 0;
}
.M2hD {
	display:block;
	color:#181818;
	font-family:inherit;
	font-size:15px;
	font-weight:600;
	line-height:inherit;
	text-align:center;
}
._jteR {
	display:-webkit-box;
    display:-webkit-flex;
    display:flex;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	-webkit-flex-direction:row;
	-moz-flex-direction:row;
	flex-direction:row;
	-webkit-align-items:center;
	align-items:center;
	margin:10px 0 0;
}
.fa-app {
	padding:4px;
    font-size:20px !important;
    width:30px;
    height:30px;
    text-align:center;
    text-decoration:none;
    margin:5px auto;
    border:1px solid #9fabbd;
    border-radius:50%;
}
.fa-facebook {
	background:transparent;
}
.fa-facebook:hover {
    background:#3B5998;
    color:#fff;
    border:none;
}
.fa-twitter {
	background:transparent;
}
.fa-twitter:hover {
    background:#55ACEE;
    color:#fff;
    border:none;
}
.fa-instagram {
	background:transparent;
}
.fa-instagram:hover {
    background:#405DE6;
    color:#fff;
    border:none;
}
.fa-google {
	background:transparent;
}
.fa-google:hover {
    background:#dd4b39;
    color:#fff;
    border:none;
}
.fa-linkedin {
	background:transparent;
}
.fa-linkedin:hover {
    background:#007bb5;
    color:#fff;
    border:none;
}
._fa44 {
	display:-webkit-box;
    display:-webkit-flex;
    display:flex;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	-webkit-flex-direction:row;
	-moz-flex-direction:row;
	flex-direction:row;
	margin:10px 0;
}
.hrSl {
	position:relative;
	left:0;
	top:0.50em;
	width:auto;
	height:1px;
	background-color:#9fabbd;
	/*background-color:rgba(var(--wlg,159,171,189),1);*/
	-webkit-flex:1 1 auto;
	-ms-flex:1 1 auto;
	-moz-flex:1 1 auto;
    flex:1 1 auto;
}
.tReK {
	-webkit-flex:0 0 auto;
	-ms-flex:0 0 auto;
	-moz-flex:0 0 auto;
	flex:0 0 auto;
	color:#9fabbd;
	/*color:rgba(var(--wlg,159,171,189),1);*/
	font-family:inherit;
	font-size:inherit;
	font-weight:500;
	line-height:16px;
	margin:0 15px;
	text-align:center;
	text-transform:uppercase;
}
._F00n {
	display:block;
	margin:0 0 8px;
}
.ee99 {
	display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	-webkit-flex-direction:row;
	-moz-flex-direction:row;
	flex-direction:row;
	-webkit-align-items:center;
	align-items:center;
	position:relative;
	/* border:1px solid #9fabbd;
	border-radius: 4px; */
	color:#797979;
	/*color:rgba(var(--wlg,159,171,189),1);*/
}
.l93s {
	display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex:1 0 0;
	-ms-flex:1 0 0;
	-moz-flex:1 0 0;
	flex:1 0 0;
	position:relative;
    margin:0;
    padding:0;
    outline:none;
    width:100%;
    height:35px;
    cursor:text;
} 
.tAhg {
    height:45px;
}
.gdCs {
	height:70px !important;
}
.D2ss {
	display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex:1 0 auto;
	-ms-flex:1 0 auto;
	-moz-flex:1 0 auto;
	flex:1 0 auto;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    background-color:#fafafa;
    /*background-color:rgba(var(--gfa,250,250,250),1);*/
	border:1px solid #dbdbdb;
	border-radius:4px;
	color:#2d2d2d;
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	width:100%;
	line-height:17px;
	margin:0;
	padding:0;
	outline:none;
	overflow:hidden;
	text-overflow:ellipsis;
	user-select:none;
	white-space:nowrap;
	transition:background-color .2s ease-in-out,border-color .2s ease-in-out;
}
.B022 {
	padding:8px 0 8px 9px;
}
.B023 {
    padding:8px 0 0 9px;
}
.E3ss {
	display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex:1 0 auto;
	-ms-flex:1 0 auto;
	-moz-flex:1 0 auto;
	flex:1 0 auto;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    float:left;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    background-color:#fafafa;
    /*background-color:rgba(var(--gfa,250,250,250),1);*/
	border-top:1px solid #dbdbdb;
	border-left:1px solid #dbdbdb;
	border-bottom:1px solid #dbdbdb;
	border-right:none;
	border-radius:4px 0 0 4px;
	color:#2d2d2d;
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	width:90%;
	line-height:17px;
	margin:0;
	padding:8px 0 8px 9px;
	outline:none;
	overflow:hidden;
	text-overflow:ellipsis;
	user-select:none;
	white-space:nowrap;
	transition:background-color .2s ease-in-out,border-color .2s ease-in-out;
}
.mC0v {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    float:left;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    background-color:#fafafa;
    /*background-color:rgba(var(--gfa,250,250,250),1);*/
	border-top:1px solid #dbdbdb;
	border-right:1px solid #dbdbdb;
	border-bottom:1px solid #dbdbdb;
	border-radius:0 4px 4px 0;
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	width:10%;
	height:100%;
	line-height:17px;
	margin:0;
	padding:0;
	outline:none;
	overflow:hidden;
	text-overflow:ellipsis;
	user-select:none;
	white-space:nowrap;
	transition:background-color .2s ease-in-out,border-color .2s ease-in-out;
}
.R33s {
	display:none;
	box-sizing:border-box;
	background-color:transparent;
	color:#9fabbd;
	padding:8px;
	width:auto;
	height:auto;
}
.zX01 {
	color:#797979;
	text-align:left;
	padding-left:6px;
	cursor:default !important;
}
.zMaw {
	position:absolute;
	top:0;
	right:0;
	bottom:auto !important;
	left:0;
	float:left;
	content:"";
	clear:both;
	color:#797979 !important;
	border-bottom:none !important;
	border-radius:4px 4px 0 0 !important;
	text-align:left;
	height:35px;
	cursor:text;
}
.zCv0 {
	display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	-webkit-flex-direction:row;
	-moz-flex-direction:row;
	flex-direction:row;
	-webkit-align-items:center;
	align-items:center;
	position:absolute;
	top:35px !important;
	right:0;
	bottom:0;
	left:0;
	height:35px;
	border-radius:0 0 4px 4px !important;
}
.kJ0z {
	padding:8px 9px 8px 9px;
}
.Rte7 {
	display:inline-block;
    position:relative;
    /* float:left; */
    background-color:transparent;
    border:none;
	padding:8px 0;
	cursor:default;
	margin:0;
}
.Rte7 input {
	position:absolute;
	opacity:0;
    cursor:pointer;
}
.Ncrd {
	position:absolute;
	top:10px;
	left:0;
	height:15px;
	width:15px;
	float:left;
	background-color:transparent;
	border:1px solid #797979;
	border-radius:50%;
}
.Rte7:hover input ~ .Ncrd {
	background-color:#9fabbd;
}
.Rte7 input:checked ~ .Ncrd {
	background-color:#2196F3;
	border:none;
}
.Rte7 input:checked ~ .rdlb {
	color:#9fabbd;
}
.Ncrd:after {
	content:"";
	position:absolute;
	display:none;
}
.Rte7 input:checked ~ .Ncrd:after {
	display:block;
}
.Rte7 .Ncrd:after {
 	top:4px;
	left:4px;
	width:7px;
	height:7px;
	border-radius:50%;
	background:#fff;
}
.rdlb {
	display:inline-block;
	/* float:left; */
	color:#797979;
	margin:0 0 0 18px;
}
.sFop {
	margin:0 auto;
}
.l93s:hover .D2ss, .l93s:focus .D2ss {
	background-color:#fafafa;
	border:1px solid #4a4a4a;
}
.l93s:hover .E3ss, .l93s:focus .E3ss {
	background-color:#fafafa;
	border:1px solid #4a4a4a;
	border-right:none;
}
.l93s:hover .mC0v, .l93s:focus .mC0v {
	background-color:#fafafa;
	border:1px solid #4a4a4a;
	border-left:none;
}
/*Start of divs for form tooptips*/
.ee99 .qcON {
	visibility:hidden;
	position:absolute;
	left:0;
	bottom:126%;
	width:auto;
	padding:4px;
	text-align:left;
	font:400 12px/17px small-caption, sans-serif;
	color:#dc3545;
	background-color:#3b3b3b;
	/*background-color:rgba(var(--g3b,59,59,59),1);*/
	border:1px solid #dc3545;
	border-radius:4px;
	z-index:1;
	animation:ttrg .8s ease-in-out infinite;
}
.ee99 .qcON::after {
	content: "";
	position: absolute;
	left: 5%;
	top: 100%;
	margin-left: 5px;
	border-width: 5px;
    border-style: solid;
    border-color: #dc3545 transparent transparent #dc3545;
}
.ee99 .nz8a {
	visibility: hidden;
	position: absolute;
	left: 0;
	bottom: 126%;
	width: auto;
	padding: 4px;
	text-align: left;
	font: 400 12px/17px small-caption, sans-serif;
	color: #dc3545;
	background-color: #3b3b3b;
	/*background-color: rgba(var(--g3b,59,59,59),1);*/
	border: 1px solid #dc3545;
	border-radius: 4px;
	z-index: 1;
	animation: ttrg .8s ease-in-out infinite;
}
.ee99 .nz8a::after {
	content: "";
	position: absolute;
	left: 5%;
	top: 100%;
	margin-left: 5px;
	border-width: 5px;
    border-style: solid;
    border-color: #dc3545 transparent transparent #dc3545;
}
.ee99 .G00e {
	visibility: hidden;
	position: absolute;
	left: 0;
	bottom: 126%;
	width: auto;
	padding: 4px;
	text-align: left;
	font: 400 12px/17px small-caption, sans-serif;
	color: #dc3545;
	background-color: #3b3b3b;
	/*background-color: rgba(var(--g3b,59,59,59),1);*/
	border: 1px solid #dc3545;
	border-radius: 4px;
	z-index: 1;
	animation: ttrg .8s ease-in-out infinite;
}
.ee99 .G00e::after {
	content: "";
	position: absolute;
	left: 5%;
	top: 100%;
	margin-left: 5px;
	border-width: 5px;
    border-style: solid;
    border-color: #dc3545 transparent transparent #dc3545;
}
.ee99 .tR0x {
	visibility: hidden;
	position: absolute;
	left: 0;
	bottom: 126%;
	width: auto;
	padding: 4px;
	text-align: left;
	font: 400 12px/17px small-caption, sans-serif;
	color: #dc3545;
	background-color: #3b3b3b;
	/*background-color: rgba(var(--g3b,59,59,59),1);*/
	border: 1px solid #dc3545;
	border-radius: 4px;
	z-index: 1;
	animation: ttrg .8s ease-in-out infinite;
}
.ee99 .tR0x::after {
	content: "";
	position: absolute;
	left: 5%;
	top: 100%;
	margin-left: 5px;
	border-width: 5px;
	border-style: solid;
	border-color: #dc3545 transparent transparent #dc3545;
}
.ee99 .oPPa {
	visibility: hidden;
	position: absolute;
	left: 0;
	bottom: 126%;
	width: auto;
	padding: 4px;
	text-align: left;
	font: 400 12px/17px small-caption, sans-serif;
	color: #dc3545;
	background-color: #3b3b3b;
	/*background-color: rgba(var(--g3b,59,59,59),1);*/
	border: 1px solid #dc3545;
	border-radius: 4px;
	z-index: 1;
	animation: ttrg .8s ease-in-out infinite;
}
.ee99 .oPPa::after {
	content: "";
	position: absolute;
	left: 5%;
	top: 100%;
	margin-left: 5px;
	border-width: 5px;
  border-style: solid;
  border-color: #dc3545 transparent transparent #dc3545;
}
.ee99 .eRoy {
	visibility: hidden;
	position: absolute;
	left: 0;
	bottom: 126%;
	width: auto;
	padding: 4px;
	text-align: left;
	font: 400 12px/17px small-caption, sans-serif;
	color: #dc3545;
	background-color: #3b3b3b;
	/*background-color: rgba(var(--g3b,59,59,59),1);*/
	border: 1px solid #dc3545;
	border-radius: 4px;
	z-index: 1;
	animation: ttrg .8s ease-in-out infinite;
}
.ee99 .eRoy::after {
	content: "";
	position: absolute;
	left: 5%;
	top: 100%;
	margin-left: 5px;
	border-width: 5px;
  border-style: solid;
  border-color: #dc3545 transparent transparent #dc3545;
}
.ee99 .w55a {
	visibility: hidden;
	position: absolute;
	left: 0;
	bottom: 126%;
	width: auto;
	padding: 4px;
	text-align: left;
	font: 400 12px/17px small-caption, sans-serif;
	color: #dc3545;
	background-color: #3b3b3b;
	/*background-color: rgba(var(--g3b,59,59,59),1);*/
	border: 1px solid #dc3545;
	border-radius: 4px;
	z-index: 1;
	animation: ttrg .8s ease-in-out infinite;
}
.ee99 .w55a::after {
	content: "";
	position: absolute;
	left: 5%;
	top: 100%;
	margin-left: 5px;
	border-width: 5px;
  border-style: solid;
  border-color: #dc3545 transparent transparent #dc3545;
}
.ee99 .xfa6 {
	visibility: hidden;
	position: absolute;
	left: 0;
	bottom: 126%;
	width: auto;
	padding: 4px;
	text-align: left;
	font: 400 12px/17px small-caption, sans-serif;
	color: #dc3545;
	background-color: #3b3b3b;
	/*background-color: rgba(var(--g3b,59,59,59),1);*/
	border: 1px solid #dc3545;
	border-radius: 4px;
	z-index: 1;
	animation: ttrg .8s ease-in-out infinite;
}
.ee99 .xfa6::after {
	content: "";
	position: absolute;
	left: 5%;
	top: 100%;
	margin-left: 5px;
	border-width: 5px;
  border-style: solid;
  border-color: #dc3545 transparent transparent #dc3545;
}
.ee99 .ctre {
	visibility: hidden;
	position: absolute;
	left: 0;
	bottom: 126%;
	width: auto;
	padding: 4px;
	text-align: left;
	font: 400 12px/17px small-caption, sans-serif;
	color: #dc3545;
	background-color: #3b3b3b;
	/*background-color: rgba(var(--g3b,59,59,59),1);*/
	border: 1px solid #dc3545;
	border-radius: 4px;
	z-index: 1;
	animation: ttrg .8s ease-in-out infinite;
}
.ee99 .ctre::after {
	content: "";
	position: absolute;
	left: 5%;
	top: 100%;
	margin-left: 5px;
	border-width: 5px;
	border-style: solid;
	border-color: #dc3545 transparent transparent #dc3545;
}
.ee99 .g9oo {
	visibility: hidden;
	position: absolute;
	left: 0;
	bottom: 114%;
	width: auto;
	padding: 4px;
	text-align: left;
	font: 400 12px/17px small-caption, sans-serif;
	color: #dc3545;
	background-color: #3b3b3b;
	/*background-color: rgba(var(--g3b,59,59,59),1);*/
	border: 1px solid #dc3545;
	border-radius: 4px;
	z-index: 1;
	animation: ttrg .8s ease-in-out infinite;
}
.ee99 .g9oo::after {
	content: "";
	position: absolute;
	left: 5%;
	top: 100%;
	margin-left: 5px;
	border-width: 5px;
  border-style: solid;
  border-color: #dc3545 transparent transparent #dc3545;
}
@-webkit-keyframes ttrg {
	from {color:rgba(220, 53, 69, 0.0);}
	to {color:rgba(220, 53, 69, 1.0);}
}
@keyframes ttrg {
	from {color:rgba(220, 53, 69, 0.0);}
	to {color:rgba(220, 53, 69, 1.0);}
} 
/*End of tooptip divs*/
._suct {
	margin:0 0 5px;
}
.sucn {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	-webkit-flex-direction:row;
	-moz-flex-direction:row;
	flex-direction:row;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-flex:0 0 auto;
	-ms-flex:1 0 auto;
	-moz-flex:1 0 auto;
	flex:1 0 auto;
	position:relative;
	min-height:32px;
}
.suCbtn {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	-webkit-flex-direction:row;
	-moz-flex-direction:row;
	flex-direction:row;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-flex:0 0 auto;
	-ms-flex:1 0 auto;
	-moz-flex:1 0 auto;
	flex:1 0 auto;
}
.crBtn {
	display:inline-block;
	font-weight:400;
	font-size:1rem;
	vertical-align:middle;
	text-align:center;
	background-color:transparent;
	border:0px solid transparent;
	padding:.375rem .25rem;
	line-height:1.5;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	width:80px;
	height:80px;
	border-radius:50%;
	margin:0 auto;
}
.sutx {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:#007cff;
	/*background-color:rgba(var(--primary,0,124,255),1);*/
	border:1px solid #007cff;
	/*border:rgba(var(--primary,0,124,255),1);*/
	color:#fff;
	/*color:rgba(var(--ww0,255,255,255),1);*/
	border-radius:4px;
	width:100% !important;
	min-height:32px;
	font-family:inherit;
	font-size:inherit;
	font-weight:normal;
	line-height:inherit;
}
._tXct {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-webkit-align-items:center;
	align-items:center;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	-webkit-flex-direction:row;
	-moz-flex-direction:row;
	flex-direction:row;
	position:relative;
	margin:0 0 5px;
}
.magUp {
	margin:8px 0;
}
.tx01 {
	color:#2d2d2d;
	text-align:center;
	font-family:inherit;
	font-size:14px;
	font-weight:inherit;
	line-height:17px;
	margin:0 auto;
}
