@charset "UTF-8";
*, *::before, *::after {
    box-sizing:border-box;
}

:root {
    --b1u:#007cff;
    --r3d:#dc3545;
    --yel:#f6c33c;
    --grn:#1cc88a;
    --0rg:#fe6d13;
    --cyn:#17a2b8;
    --te2:#20c9a6;
    --gry:#6c757d;
    --dkg:#343a40;
    --ww0:#fff;
    --wiv:#fffff0;
    --wl3:#f8f9fa;
    --ww8:#f8f8f8;
    --ww2:#f2f2f2;
    --wcc:#ccc;
    --wlg:#9fabbd;
    --wam:#ddd;
    --b00:#000;
    --b05:#050505;
    --g18:#181818;
    --g19:#191919;
    --g21:#212121;
    --g23:#232323;
    --g26:#262626;
    --g2d:#2d2d2d;
    --g33:#333333;
    --g3b:#3b3b3b;
    --g4a:#4a4a4a;
    --gbg:#131a22;
    --gll:#6c757d;
    --g80:#808080;
    --bdg:#1e90ff;
    --bb0:#0598f1;
    --bbt:#288cfb;
    --primary:#007cff;
    --secondary:#6c757d;
    --success:#1cc88a;
    --info:#17a2b8;
    --warning:#f6c33c;
    --danger:#dc3545;
    --light:#f8f9fa;
    --dark:#343a40;
    --breakpoint-xs:0;
    --breakpoint-sm:576px;
    --breakpoint-md:768px;
    --breakpoint-lg:992px;
    --breakpoint-xl:1200px;
    --font-family-sans-serif:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace:SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
  